@import url('https://fonts.googleapis.com/css?family=Supermercado+One|ZCOOL+XiaoWei&display=swap');

body {
  margin: 0;
  background: #000000;
  color: #ffffff;
  font-family: 'ZCOOL XiaoWei', serif;
}

h1.title {
  font-family: 'Supermercado One', cursive;
}

